/* browser decoration cancel */ 

a:link, a:visited { 
    text-decoration: inherit ; 
    color: black;
} 





/* Keyframes */ 





@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* loader */ 





#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

#loader div {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; 
    -moz-animation:  spin 2s linear infinite;
    -o-animation:  spin 2s linear infinite;
    animation: spin 2s linear infinite;
}





/* Onload */ 





#main {
    opacity: 0;
}

#loader {
    z-index: -10;
}





/* Fonts and sizes */






h2 strong, nav a, header p {
    font-family: 'Caveat', cursive;
}

#main_title h1 {
    font-family: 'Niconne', cursive;
    font-size: 3.5em;
}

nav a {
    font-size: 1.6em;
}

#hook h2 {
    color: #333;
    font-family: 'Caveat', cursive;
}

#sum {
    font-size: 1.5em;
}

#signature {
    font-size: 1.2em;
    font-family: 'Titillium Web', sans-serif;
}

header {
    color: white;
}

.bill_title {
    font-size: 3em;
    font-family: 'Caveat', cursive;
}

.by {
    font-size: 1.2em;
    font-family: 'Caveat', cursive;
}

.back, .full_view_link {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(128, 170, 255) !important;
    font-size: 1.2em; 
}

.comment_title {
    font-family: 'Caveat', cursive;
    color: #333;
    font-size: 3em;
}


#author_input {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
}


#comment_submit {
    font-size: 1.5em; 
    font-family: 'Caveat', cursive;
}

input {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em; 
}

.commented_by {
    font-size: 1em; 
    font-family: 'Titillium Web', sans-serif;
}

.one_comment strong {
    font-size: 1.5em; 
    font-family: 'Caveat', cursive;
}

.report {
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
}

#connexion, .validation {
    font-size: 3em; 
    font-family: 'Caveat', cursive;
}

#admin_panel_title_container h1 {
    font-family: 'Niconne', cursive;
    font-size: 2em;
}

#alert, #disconnect{
    font-size: 1.2em;
    font-family: 'Titillium Web', sans-serif;
}

.suspension_points {
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
}


.bill_title_list {
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
} 

.by_list {
    font-size: 1.2em;
    font-family: 'Caveat', cursive;
}

footer p {
    color: white; 
    font-size: 0.8em;
    font-family: 'Titillium Web', sans-serif;
}

.error {
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 51, 0, 0.8);
}

#legal_container p {
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
}

#password {
    font-size: 1.2em;
    font-family: 'Titillium Web', sans-serif;
}






/* main style */






.content {
    padding-top: 140px;
    min-height: 100vh;
}

input {
    border-radius: 5px;
}

html {
    overflow-x: hidden;
    min-width: 720px;
}





/* user nav */ 






nav {
    border-bottom: 3px groove #333;
    position: fixed;
    width: 100%; 
    background-color: white;
    z-index: 1000;
    box-shadow: 2px 0px 10px grey;
    height: 120px;
    display: flex;
    min-width: 720px;
}


#menu a {
    border: 2px solid #555;
    padding: 10px; 
    border-radius: 10%;
    box-shadow: 0px 0px 2px grey;
    margin: 10px;
}

#menu a:hover {
    background-color: hsl(210, 100%, 85%);
    box-shadow: 5px 5px 5px grey;
    transition: box-shadow 0.5s linear;
}

#menu {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

#logo {
    max-height: 100px;
    padding-left: 10px;
}

.content {
    z-index: -100;
}





/* header */ 





#header_container {
    position: relative;
    height: 600px;
    background: linear-gradient(rgba(255,255,255,0) 40%, rgba(255,255,255, 1) 80%);
}

#main_title {
    text-align: center;
}

#main_title h1 {
    text-shadow:0 0 5px black;
}

#hook {
    position: absolute; 
    width: 68%;
    height: 30%; 
    bottom: 100px; 
    left: 16%; 
    text-align: center;
}

#hook h2 {
    text-shadow:0 0 5px white;
}

#alaska {
    position: absolute; 
    width: 100%; 
    height: 600px;
    overflow: hidden;
    top: 0;
    z-index: -10;
    margin-top: -20px;
}

#alaska img {
    width: 100%; 
}





/* Bills */ 





.bill {
    border: 3px groove #555;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #777;
}

.bill_title {
    text-align: center;
}

.by {
    text-align: right;
    border-bottom: 2px dashed #666;
    padding-right: 10px;
    padding-bottom: 10px;
}

.bill_content {
    padding-right: 10px; 
    padding-left: 10px;
    text-align: justify;
}

.back {
    margin-left: 10px;
    margin-bottom: 10px; 
}

.back:hover, .full_view_link:hover {
    text-decoration: underline;
}

#edit_container {
    text-align: center;
}





/* Comments */ 





.comments_container {
    margin-left: 10px;
    margin-right: 10px;
}

#comment_submit {
    margin-top: 5px; 
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px; 
    background-color: white;
    text-align: center;
    align-self: center;
}

#comment_submit_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment_submit:hover {
    background: rgb(128, 170, 255) !important;
}

.one_comment {
    border-top: 3px dashed #666;
    padding-top: 18px;
    padding-bottom: 10px;
    position: relative;
}

.one_comment strong {
    padding-right: 3px;
}

.report {
    position: absolute;
    top: 10px; 
    right: 5px;
    border-radius: 10px; 
    background-color:rgb(255, 51, 0, 0.2);
}

.report:hover {
    background-color: rgb(255, 51, 0, 0.8);
}





/* login */ 





#log_container {
    text-align: center;
}

#check_admin {
    margin-top: 5px; 
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px; 
    background-color: white;
    text-align: center;
}

#check_admin:hover {
    background: rgb(128, 170, 255) !important;
}






/* Validation */ 






#validation_container {
    text-align: center;
}





/* all bills */ 





.one_bill_container_list:hover {
    text-decoration: underline;
}






/* admin header */ 




#admin_panel_title_container {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

#admin_panel_title_container h1 {
    border: 2px dashed #666;
    margin-left: 10%; 
    margin-right: 10%
}

#admin_menu {
    margin-top: 40px;
    text-align: center;
}

#admin_menu a {
    border: 2px solid #555;
    padding: 10px; 
    border-radius: 10%;
    box-shadow: 0px 0px 2px grey;
    margin: 10px;
}

#admin_menu a:hover {
    background-color: hsl(210, 100%, 85%);
    box-shadow: 5px 5px 5px grey;
    transition: box-shadow 0.5s linear;
}






/* Admin panel */ 





#request_box {
    min-height: 200px; 
    border: 2px groove #333; 
    margin: 20px;
}

#add_container, #list_container {
    position: absolute;
    display: none;
    z-index: 0;
    text-align: center;
}

#add_button, #list_button, .edit_button, .comment_button, .delete_comment_button, .add_button, .delete_button, .cancel_button, .delete_report_button {
    margin-top: 5px; 
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px; 
    background-color: white;
    text-align: center;
}

#add_button:hover, #list_button:hover, .edit_button:hover, .comment_button:hover, .add_button:hover, .delete_button:hover, .cancel_button:hover, .delete_report_button:hover {
    background: rgb(128, 170, 255) !important;
}

.delete_comment_button:hover {
    background-color: rgb(255, 51, 0, 0.8);
}

.admin_buttons_container {
    text-align: center;
}

#alert {
    text-align: center;
}

#bill_submit {
    margin-top: 5px; 
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px; 
    background-color: white;
    text-align: center;
    align-self: center;
}

#bill_submit:hover {
    background: rgb(128, 170, 255) !important;
}

.separation {
    background-color: #333;
    height: 4px; 
    width: 100%;
    margin: 20px 0 20px 0;
}




/* error */




.error_container {
    text-align: center;
}




/* Disconnect */





#disconnect {
    text-align: center;
}




/* legal */ 





#legal_container p em, #legal_container p a {
    text-decoration: underline;
}





/* footer */ 





footer {
    background: linear-gradient(#444, #222);
    display: flex;
    justify-content: space-around;
    border-top: 4px solid #444;
    box-shadow: 0px 0px 5px #555;
    height: 50px;
    width: 100%; 
}

footer p {
    margin-top: 10px;
}

footer a p:hover {
    color: #888;
}
